.chef {
    @include heading;
    background-color: $secondary-color;
    padding-top: 100px;
    padding-bottom: 100px;
    .smaller-heading {
        margin-top: 30px;
    }
    &__paragraph {
        @include paragraph;
    }
}

.chef img {
    width: 100%;
    max-width: 398px;
    min-width: 251px;
}

@media screen and (max-width: 1024px) {
    .chef {
        padding-top: 80px;
        padding-bottom: 80px;
        &__paragraph {
            font-size: 2.2rem;
            max-width: 602px;
        }
    }
}

@media screen and (max-width: 768px) {
    .chef {
        padding-top: 70px;
        padding-bottom: 70px;
        &__paragraph {
            font-size: 2rem;
            max-width: 541px;
        }
    }
}