.heading {
    font-size: 8.5rem;
    margin: 0 auto;
    margin-bottom: 35px;
    text-transform: uppercase;
    max-width: 914px;
}

@media screen and (max-width: 1024px) {
    .heading {
        font-size: 6rem;
    }
}